{% extends 'reccommendationapp/base.html' %}
{%load static%}
{% block title %}User Ratings{% endblock %}
{% block content %}
<div id="results">
    {% if user_ratings %}
        <div id="ratings" class="row">
            <h2 class="my-4">Ratings for User {{ user_id }}</h2>
            <div class="row">
                {% for rating in user_ratings %}
                    <div class="col-md-4 mb-4">
                        <div class="card h-100">
                            {% if rating.book.image_url_m %}
                                <img src="{{ rating.book.image_url_m }}" class="card-img-top" alt="{{ rating.book.title }}">
                            {% else %}
                                <img src="{% static 'reccommendationapp/images/no_image_available.png' %}" class="card-img-top" alt="No Image Available">
                            {% endif %}
                            <div class="card-body">
                                <h5 class="card-title">{{ rating.book.title }}</h5>
                                <p class="card-text">{{ rating.book.author }}</p>
                                <p class="card-text">ISBN: {{ rating.book.isbn }}</p>
                                <p class="card-text">Year of Publication: {{ rating.book.year_of_publication }}</p>
                                <p class="card-text">Rating: {{ rating.book_rating }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <p>No ratings found for this user.</p>
    {% endif %}
</div>

<button type="button" class="btn btn-secondary mx-2" onclick="fetchRecommendations({{ user_id }})">Get Recommendations</button>

<div id="recommendations" class="row mt-4"></div>
{% endblock %}
